/* CSS declarations go here */
html {
  background-color: #FEFBF6;
}
body {
  overflow: hidden;
}
.home {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
}
a {
  color: #576569;
  text-decoration: none;
}
.title {
  font-size: 5vh;
  font-family: sans-serif;;
  letter-spacing: 0.5em;
  color: burlywood;
}
.section-title{
  color: #576569;
  font-family: "Arial Rounded MT Bold";
  font-size: 5vh;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  text-align: center;
}
.exercise-page {
  text-align: left;
  color: #576569;
  font-size: 4vh;
}
.exercise {
  height: 20vh;
  width: 20vh;
  background-color: white;
  opacity: 0.9;
  margin: 2vh;
  -webkit-box-shadow: 0px 0px 165px -53px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 165px -53px rgba(0,0,0,0.33);
box-shadow: 0px 0px 165px -53px rgba(0,0,0,0.33);
}
.row {
  display: flex;
  justify-content: center;
}
#paperDrawerPanel {
  background-color: blue;
}
.launch-game-container{
  display: flex;
  flex-direction: column;
}
.banner {
  background-color: #F46835;
  padding-top: 1vh;
  height: 40vh;
}
.top-bar {
  height: 30vh;
}
.data-title {
  justify-content: space-around;
  font-size: 3vh;
  font-family: "Arial Rounded MT Bold";
  color: #576569!important;
}
.exercise-data-container {
  background-color: white;
  height: 80vh;
  color: #EE5E60;
}
.active-underline:active {
  text-decoration: underline;
}
.today-stats {
  height: 10vh;
  font-size: 6vh;
  line-height: 10vh;
  padding-left: 3vh;
  font-family: arial;
  font-weight: lighter;
  letter-spacing: 3vw;
  padding-top: 5vh;
}
.icon-pics {
  height: 100%;
  width: auto;
  text-align: center;
}
.icon-header-container {
  text-align: center;
}
.icon-header-container img {
  width: 35%;
  height: 35%;
}
